<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="icon" href="/favicon.ico" />
  <title>
    <%= title %>
  </title>
  <meta name="description" content="<%= (!!locals.description) ? description : site.description %>" />
  <meta name="author" content="<%= site.author %>" />
  <meta property="og:title" content="<%= title %>" />
  <meta property="og:description" content="<%= (!!locals.description) ? description : site.description %>" />
  <meta property="og:locale" content="<%= site.locale %>" />
  <meta property="og:site_name" content="<%= site.site_name %>" />
  <% if (locals.tags=="posts" ) { %>
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="<%= date.toISOString() %>" />
    <script type="application/ld+json">
      {
        "description": "<%= (!!locals.description) ? description : site.description %>",
        "author": { "@type": "Person", "name": "<%= site.author %>" },
        "@type": "BlogPosting",
        "url": "<%= `${site.url}${page.url}` %>",
        "publisher": {
          "@type": "Organization",
          "logo": {
            "@type": "ImageObject",
            "url": "<%= `${site.url}/assets/images/logo.png` %>"
          },
          "name": "<%= site.author %>"
        },
        "headline": "<%= title %>",
        "datePublished": "<%= date.toISOString() %>",
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "<%= `${site.url}${page.url}` %>"
        },
        "@context": "http://schema.org"
      }
    </script>
    <% } %>
      <%- include('webpack.ejs') %>
        <% if (page.url=="/" ) { %>
          <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
          <script>
            if (window.netlifyIdentity) {
              window.netlifyIdentity.on('init', (user) => {
                if (!user) {
                  window.netlifyIdentity.on('login', () => {
                    document.location.href = '/admin/';
                  });
                }
              });
            }
          </script>
          <% } %>
</head>

<body class="antialiased w-full text-gray-700 bg-gray-100" id="bod">
  <div class="container mx-auto">
    <div class="flex justify-between align-middle py-8">
      <div class="left">
        <a href="/" class=" text-gray-900 text-lg font-bold">Foxes Invest</a>
      </div>
      <div class="right sm:hidden">
        <a href="/posts/" class=" text-gray-900 text-base sm:ml-1">Posts</a>
        <a href="/references/" class=" text-gray-900 text-base ml-10 sm:ml-1">Investment References</a>
        <a href="/about/" class=" text-gray-900 text-base ml-10 sm:ml-1">About</a>
      </div>
      <div class="right2 hidden sm:block">
        <button class=" px-2 py-1 bg-gray-200 rounded-lg" id="mmOpen">Menu</button>
      </div>
    </div>
  </div>

  <div class="mobile-menu absolute top-0 left-0 bg-white h-full w-full bg-opacity-75 hidden" id="men">
    <div class="top">
      <div class="container mx-auto flex justify-end py-8">
        <div class="close">
          <button class=" px-2 py-1 bg-gray-200 rounded-lg" id="mmClose">Close</button>
        </div>
      </div>
      <div class="container mx-auto">
        <div class="links">
          <ul>
            <li><a href=""><a href="/posts/"
                  class=" text-gray-900 text-4xl font-semibold px-2 py-1 bg-gray-200 rounded-lg">Posts</a></a></li>
            <li class="mt-8"><a href=""><a href="/references/"
                  class=" text-gray-900 text-4xl font-semibold px-2 py-1 bg-gray-200 rounded-lg">References</a></a></li>
            <li class="mt-8"><a href=""><a href="/about/"
                  class=" text-gray-900 text-4xl font-semibold px-2 py-1 bg-gray-200 rounded-lg">About</a></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="text-xl py-5 px-4 container mx-auto">
    <%- content %>
  </div>

  <div class="bg-gray-700 text-white py-16 mt-24">
    <div class="container mx-auto">
      <div class="footer-links mb-12">
        <ul>
          <li class=" mb-4"><a href="/posts/">Posts</a></li>
          <li class=" mb-4"><a href="/references/">Investment References</a></li>
          <li class=" mb-4"><a href="/about/">About</a></li>
        </ul>
      </div>
      <hr class=" text-gray-300 h-1 bg-gray-300 opacity-25 rounded-3xl" />
      <div class="bottom-sec mt-16 text-center">
        <span class="text-gray-500">FBLA Club Yorkville Highschool</span>
      </div>
    </div>
  </div>
  <script src="../../js/nav.js"></script>
</body>

</html>